/* A font by Jos Buivenga (exljbris) -> www.exljbris.nl */
@font-face {
    font-family: "Museo";
    src: url(Museo700-Regular.otf);
    font-weight: bold;
}
@font-face {
    font-family: "Museo";
    src: url(Museo500-Regular.otf);
    font-weight: normal;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

/* End reset stylesheet */

body {
    font-family: helvetica,arial,sans-serif;
    background-color: #218FB1;
    color: #FFFFFF;
    min-width: 800px;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

#global-header {
    width: 90%;
    margin: 5px auto;
    height: 1em;
    font-size: 0.75em;
}

#global-header #breadcrumbs {
    float: left;
    font-size: 1.25em;
}
#global-header #breadcrumbs li {
    display: inline-block;
    padding: 0 5px2;
}
#global-header #breadcrumbs li.spacer {
    margin: 0 0.3em;
}

#global-header #account-box {
    float: right;
}

#global-header #account-box #login-form {
    display: none;
}

#global-header #account-box #account-links {
    display: inline-block;
}
#global-header #account-box #account-links li {
    float: left;
    padding: 0 10px;
    border-left: 1px solid #FFFFFF;
}
#global-header #account-box #account-links li:first-child {
    border: none;
}

#page {
    font-family: "Lucida Grande",arial,sans-serif;
    font-size: 1em;
    background-color: #FFFFFF;
    margin: 15px auto 20px;
    -moz-border-radius: 15px;
    width: 90%;
    -moz-box-shadow: 2px 2px 15px #333;
    color: #000000;
    position: relative;
    min-height: 600px;
}

#page a {
    color: #666666;
    text-decoration: underline;
}
#page a:hover {
    color: #000000;
    text-decoration: underline;
}

#header #logo {
    display: inline;
}

#toolbar {
    position: absolute;
    top: 0;
    right: 40px;
}
#toolbar > li {
    display: inline-block;
    position: relative;
}
#toolbar a.tab {
    background-color: #999999;
    -moz-border-radius-bottomleft: 6px;
    -moz-border-radius-bottomright: 6px;
    padding: 5px 8px;
    margin: 0 5px;
    color: #FFFFFF;
    text-shadow: 0 0 3px #333333;
    display: block;
    text-decoration: none;
}
#toolbar > li:hover a.tab {
    color: yellow;
    text-decoration: none;
    -moz-border-radius: 0;
    -moz-box-shadow: 2px 2px 1px #333;
}

#toolbar .menu {
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    border: 2px solid #999999;
    right: 5px;
    width: 175px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-bottomleft: 6px;
    -moz-border-radius-bottomright: 6px;
    -moz-box-shadow: 2px 2px 1px #333;
    
}
#toolbar .menu li.separator {
    border-bottom: 1px solid #999999;
}

#toolbar .menu li a {
    display: block;
    text-align: right;
    padding: 5px;
    text-decoration: none;
}
#toolbar .menu li a:hover {
    text-decoration: underline;
}
#toolbar .menu li a.selected {
    font-weight: bold;
}

#toolbar > li:hover .menu {
    display: block;
}

#header #title {
    padding: 10px 20px 2px;
}

#header img {
    vertical-align: middle;
}
#header h1 {
    font-weight: bold;
    display: inline;
    font-size: 2.5em;
    text-shadow: 0 0 5px white, 0px 3px 7px yellow, -3px 0px 7px lime, 3px 0px 7px blue, 0px -3px 7px red;
    vertical-align: middle;
    margin: 0 5px;
}
#header h2 {
    display: inline;
    font-size: 1.8em;
    font-family: "Museo";
    vertical-align: text-top;
}

#content {
    padding: 20px;
    clear: both;
}

/* Deliverables */
div.deliverable {
    clear: both;
    margin-bottom: 30px;
    padding-left: 30px;
}
div.deliverable.level-0 {
    padding-left: 0;
}

.deliverable h3 {
    font-weight: bold;
    font-size: 1.3em;
}
.deliverable h3 input {
    font-size: 1em;
    font-weight: bold;
    min-width: 25em;
}

.deliverable ul.resources,
.deliverable ul.resources li {
    display: inline-block;
    margin: 4px 5px;
}

#page .editable .resource a {
    text-decoration: none;
}
#page .editable .resource a:hover {
    cursor: move;
    color: #666666;
}

.overlay {
    position: absolute;
    top: 0;
    left: 13%;
    right: 13%;
    width: 74%;
    height: 500px;
    background-color: #6389B3;
    -moz-border-radius-bottomleft: 15px;
    -moz-border-radius-bottomright: 15px;
    -moz-box-shadow: 0px 0px 15px #333;
}

/* Add Resources */
#add-resources.overlay .sidebar {
    background-color: #6389B3;
    width: 20%;
    height: 92%;
    -moz-border-radius-bottomleft: 15px;
    float: left;
}

#add-resources.overlay .panel {
    background-color: #C7D8EA;
    height: 92%;
    float: right;
    width: 80%;
    overflow-y: auto;
}

#add-resources.overlay .footer {
    clear: both;
    width: 100%;
    height: 8%;
    -moz-border-radius-bottomleft: 15px;
    -moz-border-radius-bottomright: 15px;
}

#add-resources.overlay .sidebar h4 {
    font-size: 0.85em;
    font-weight: bold;
    padding: 5px 10px;
    color: #DDDDDD;
}

#page #add-resources.overlay .sidebar ul li a {
    display: block;
    padding: 7px 10px 7px 25px;
    border-bottom: 1px dashed #84B7F0;
    background-position: 5px 50%;
    background-repeat: no-repeat;
    text-decoration: none;
    color: #DDDDDD;
    position: relative;
}
#page #add-resources.overlay .sidebar ul li a:hover,
#page #add-resources.overlay .sidebar ul li a.selected {
    background-color: #C7D8EA;
    color: #6389B3;
}

#page #add-resources.overlay .sidebar ul li a span.badge {
    background-color: #84B7F0;
    -moz-border-radius: 10px;
    position: absolute;
    right: 5px;
    font-size: 0.9em;
    padding: 1px 5px;
    color: #2963A4;
    display: none;
}

#add-resources.overlay .footer button {
    float: right;
    margin: 5px 20px;
    display: none;
}

#page #add-resources.overlay .footer a {
    margin: 10px 0 0 22%;
    color: #DDDDDD;
    font-size: 0.95em;
    display: none;
}

#page #add-resources.overlay .footer .close-button {
    display: inline-block;
}

#add-resources.overlay .panel .resource-panel {
    display: none;
    padding: 10px;
}
#add-resources.overlay .panel .resource-panel.selected {
    display: block;
}

#add-resources.overlay .panel .resource-panel h2 {
    font-weight: bold;
    font-size: 1.3em;
    margin-bottom: 10px;
}

#add-resources.overlay .resource-panel .form label {
    margin-left: 2em;
}
#add-resources.overlay .resource-panel .form label input {
    margin: 0.5em 1em;
    font-size: 1em;
    width: 60%;
}

#add-resources.overlay .panel .resource-panel .ready-box,
#add-resources.overlay .panel .resource-panel .added-box,
#add-resources.overlay .panel .resource-panel .uncategorized-box {
    clear: both;
    margin: 15px 0;
    display: none;
}

#add-resources.overlay .panel .resource-panel h3 {
    font-weight: bold;
    font-size: 1em;
    margin: 10px 0;
}

#add-resources.overlay .panel .resource-panel .chooser {
    font-size: 0.8em;
}

#add-resources.overlay .panel .resource-panel .chooser select {
    font-size: 1.2em;
}

#add-resources.overlay .panel .resource-panel .resource-grid li {
    display: inline-block;
    border: 1px solid #2963A4;
    -moz-border-radius: 6px;
    padding: 5px;
    font-size: 0.85em;
    width: 28%;
    min-width: 100px;
    margin: 0 10px 10px 0;
}

#add-resources.overlay .panel .resource-panel .resource-grid li h5 {
    font-weight: bold;
    color: #2963A4;
}

#add-resources.overlay .panel .resource-panel .resource-grid li.loading h5 {
    background: transparent url(../images/ajax-loader.gif) 0px 50% no-repeat;
    padding-left: 20px;
}

#add-resources.overlay .panel .resource-panel .resource-grid li.loaded h5 {
    background: transparent url(../images/tick.png) 0px 50% no-repeat;
    padding-left: 20px;
    color: green;
}

#add-resources.overlay .panel .resource-panel .resource-grid li.loaded {
    border-color: green;
}


#add-resources.overlay .panel .resource-panel .resource-grid li p {
    width: 100%;
}

#add-resources.overlay .panel .resource-panel .resource-grid li p.uncategorized {
    font-style: italic;
}

#add-resources {
    display: none;
}

button.pretty-button {
    background-color: #C7D8EA;
    -moz-border-radius: 6px;
    border: 2px solid #84B7F0;
    font-size: 1em;
    color: #333333;
    -moz-box-shadow: 0px 0px 10px #84B7F0;
}

button[disabled="disabled"] {
    -moz-box-shadow: none;
}

button.loading {
    background: transparent url(../images/ajax-loader.gif) no-repeat 7px 50%;
    padding-left: 25px;
}

/* roadmap */
.roadmap {
    display: table;
    margin: 0 auto;
}
.roadmap .quarter {
    display: table-row;
}
.roadmap .quarter > div {
    display: table-cell;
    vertical-align: middle;
}
.roadmap .quarter .quarter-label {
    text-align: center;
    font-size: 2em;
    color: #333333;
    padding: 0 30px;
    border-top: 2px dashed #666666;
}
.roadmap .quarter.first .quarter-label {
    border-top: none;
}
.roadmap .quarter .quarter-label span {
    font-weight: bold;
    display: block;
    font-size: 2em;
    color: #000000;
}
.roadmap .quarter .months {
    border-left: 2px solid #000000;
    border-right: 2px solid #000000;
}
.roadmap .quarter.first .months {
    border-top: 2px solid #000000;
}
.roadmap .quarter .months li {
    display: block;
    height: 3em;
    width: 8em;
    vertical-align: middle;
    text-align: center;
}
.roadmap .quarter .months li span {
    padding: 1em 0;
    position: relative;
    z-index: 1;
    display: none;
    color: #333333;
    text-shadow: 1px 1px 2px #EEEEEE;
}
.roadmap .quarter:hover .months li span,
.roadmap .quarter.active .months li span {
    display: block;
}
.roadmap .start-row {
    display: table-row;
}
.roadmap .start-row > div {
    display: table-cell;
}
.roadmap .start-row .start {
    background-color: #34B138;
    display: block;
    position: absolute;
    width: 8em;
    margin: 2px 2px 0 2px;
    z-index: 0;
}

.roadmap .quarter .items {
    border-top: 2px dashed #666666;
    padding: 0 30px;
}
.roadmap .quarter.first .items {
    border-top: none;
}

.roadmap .quarter .items ul {
    list-style: disc;
}
.roadmap .end-row {
    display: table-row;
}
.roadmap .end-row > div {
    display: table-cell;
}
.roadmap .end-row .end {
    border-left: 2px solid #000000;
    border-right: 2px solid #000000;
    border-bottom: 2px solid #000000;
    -moz-border-radius-bottomleft: 8em;
    -moz-border-radius-bottomright: 8em;
    height: 4em;
}

#global-footer {
    text-align: center;
    margin-bottom: 20px;
}