/* Reset stylesheet */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

/* End reset stylesheet */

/* General */
body {
    font-family: "Lucida Grande",helvetica,arial,sans-serif;
    background-color: #218FB1;
    color: #FFFFFF;
    min-width: 800px;
}

strong {
    font-weight: bold;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

/* Global Header */
#global-header {
    width: 90%;
    margin: 5px auto;
    height: 1em;
    font-size: 0.75em;
}

#site-name {
    float: left;
    font-size: 1.25em;
    text-shadow: #000000 1px 1px 0;
}
#site-name strong {
    font-weight: bold;
    text-transform: lowercase; /* will probably remove this later */
    text-shadow: #000000 -2px -2px 1px;
}

#account-box {
    float: right;
    text-align: right;
}

#login-form {
    background: #EEEEEE;
    position: relative;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    z-index: 10;
    color: #218FB1;
    padding: 10px;
    font-size: 1.1em;
    -moz-box-shadow: 2px 2px 15px #333;
    text-align: left;
    top: 0.5em;
    right: 5em;
    display: none;
}
#login-form dt,
#login-form dd {
    margin-bottom: 0.3em;
}
#login-form input {
    font-size: 1.1em;
    font-weight: bold;
}
#login-form .actions {
    text-align: right;
}
#login-form .actions a {
    float: left;
    color: #666666;
}
#login-form .actions input {
    background-color: #218FB1;
    border: none;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    color: #FFFFFF;
    font-weight: normal;
}

#account-links {
    display: inline-block;
}
#account-links li {
    float: left;
    padding: 0 10px;
}
#account-links li,
#account-links li a {
    color: #EEEEEE;
}
#account-links li.separator {
    padding: 0;
}
#account-links li strong {
    color: #FFFFFF;
}

#account-links li:first-child {
    border: none;
}

/* Page */
.page {
    font-family: "Lucida Grande",helvetica,arial,sans-serif;
    font-size: 1em;
    background-color: #FFFFFF;
    margin: 15px auto 20px;
    -moz-border-radius: 15px;
    width: 90%;
    -moz-box-shadow: 2px 2px 15px #333;
    color: #000000;
    position: relative;
    min-height: 600px;
}

.page a {
    color: #666666;
    text-decoration: underline;
}
.page a:hover {
    color: #000000;
    text-decoration: underline;
}

/* Header and Toolbar */
#toolbar {
    position: absolute;
    top: 0;
    right: 30px;
}
#toolbar li {
    display: inline-block;
    position: relative;
}
.page #toolbar a {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    padding: 0.75em 0.3em 0.2em 0.3em;
    margin: 0 5px;
    display: block;
    text-decoration: none;
    font-family: georgia,serif;
    font-style: italic;
}
.page #toolbar a:hover {
    border-bottom: 2px solid #7D6CB5;
    text-decoration: none;
    color: #7D6CB5;
}
#header #title {
    padding: 10px 20px 2px;
}

#logo {
    display: inline;
}
#header img {
    vertical-align: middle;
}
#title div {
    display: inline-block;
    vertical-align: middle;
}
#header h1 {
    font-weight: bold;
    font-size: 2em;
    vertical-align: middle;
    text-shadow: #7D6CB5 2px 2px 6px;
}
#header h1 a {
    text-decoration: none;
    color: #000000;
}
#header h1 a:hover {
    text-decoration: none;
}
#header h2 {
    font-size: 1.5em;
    vertical-align: text-top;
    margin-left: 0.5em;
}
#header h2 span {
    font-family: georgia,serif;
    font-style: italic;
    color: #666666;
}
#header h2 a {
    text-decoration: none;
}
#header h2 a:hover {
    text-decoration: none;
    color: #7D6CB5;
}

#content {
    padding: 20px;
}

/* Elements used on multiple pages */
.inline {
    display: inline-block;
    vertical-align: top;
}
.right {
    float: right;
}
.left {
    float: left;
}
.left-margin {
    margin-left: 1em;
}
.small-margin {
    margin: 0.5em;
}
.summary-block {
   -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    background-color: #EEEEEE;
    font-size: 0.8em;
    margin: 0 0 1em 0;
    padding: 0.5em;
}
.summary-block .edit-link {
    float: right;
    margin: 0 0 0.3em 0.3em;
}
.summary-block h3 {
    color: #666666;
    font-family: georgia,serif;
    font-style: italic;
    font-weight: normal;
    margin-bottom: 0.2em;
}
.summary-block .description {
    margin-bottom: 1em;
}

.summary-block .edit-box {
    display: none;
    border-top: 1px solid #666666;
    margin-top: 1em;
}
.summary-block .edit-box h3 {
    font-weight: bold;
    color: #000000;
    font-style: normal;
    font-family: "Lucida Grande",helvetica,arial,sans-serif;;
    font-size: 1.2em;
    margin: 0.5em 0;
}
.summary-block .edit-box dl {
    margin: 0 1em;
}
.summary-block .edit-box dt {
    padding: 5px 0;
    font-weight: bold;
}
.summary-block .edit-box dd {
    margin-bottom: 5px;
}
.summary-block .edit-box dd input {
    font-size: 1.1em;
    width: 20em;
}
.summary-block .edit-box dd textarea {
    font-size: 1.1em;
    width: 40em;
    font-family: inherit;
}
.summary-block .edit-box dd select {
    font-size: 1.1em;
}
.summary-block .edit-box .save {
    margin: 0.5em 1em;
}
.summary-block .edit-box .save span {
    display: none;
    font-size: 1.2em;
    margin: 0 1em;
}

h3 {
    font-weight: bold;
    font-size: 1em;
}
h4 {
    font-weight: bold;
    font-size: 0.8em;
}
ul.bugs {
    margin: 0.5em 1em;
    font-size: 0.75em;
}
ul.bugs li {
    margin: 0.2em 0;
}
ul.bug-groups {
    margin: 0.5em 1em;
}
ul.bug-groups li {
    margin: 1em 0 0 0;
}
ul.bug-groups ul.bugs {
    display: none;
}

button,
a.button {
    color: #FFFFFF;
    background-color: #7D6CB5;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    padding: 0.2em 0.5em;
    font-size: 1em;
    font-weight: bold;
    text-shadow: #000000 1px 1px 0;
    border: none;
    -moz-box-shadow: #000000 1px 1px 4px;
    text-decoration: none;
    display: block;
}
a.button {
    padding: 0.4em 0.7em;
}
button:active {
    -moz-box-shadow: #000000 -1px -1px 4px;
}
a.button:hover {
    color: #FFFFFF;
    text-decoration: none;
}

a.bug.status-2 {
    color: #34B138;
}
.bug-details {
    color: #666666;
    margin-left: 0.5em;
}


/* Deliverables */
div.deliverable {
    clear: both;
    margin-bottom: 1em;
    padding-left: 2em;
}
div.deliverable.level-0 {
    padding-left: 0;
}
.deliverable .show-goodies {
    display: none;
    margin-left: 2em;
    font-size: 0.85em;
}
.deliverable .goodies {
    border-left: 5px solid #EEEEEE;
    padding: 0.5em;
    margin: 0 0 0 2em;
}
.deliverable .goodies .hide-goodies {
    -moz-transform: rotate(270deg);
    color: #EEEEEE;
    font-size: 0.75em;
    position: absolute;
    margin-left: -2.7em;
    text-decoration: none;
}
.deliverable .goodies:hover a.hide-goodies {
    color: #999999;
}
.deliverable h3 a.edit-link,
.deliverable h4 a.edit-link {
    float: right;
    color: #CCCCCC;
    text-decoration: none;
    font-weight: normal;
    font-size: 0.85em;
}
.deliverable:hover h3 a.edit-link,
.deliverable .goodies:hover h4 a.edit-link {
    color: #999999;
}
.deliverable h3 a.edit-link:hover,
.deliverable h4 a.edit-link:hover {
    text-decoration: underline;
}
.deliverable h4 span {
    font-weight: normal;
}
.deliverable .description {
    margin: 0.5em 0;
    font-size: 0.9em;
}
.deliverable .attachments li {
    display: inline-block;
    margin: 0.5em 1em;
    vertical-align: middle;
    max-width: 120px;
    text-align: center;
}
.deliverable .attachments .caption {
    font-size: 0.75em;
    text-align: center;
}
.deliverable .comments li {
    margin: 0.25em 0;
    font-size: 0.85em;
    padding-top: 0.25em;
    border-top: 1px solid #EEEEEE;
}
.deliverable .comments li:first-child {
    border-top: none;
    padding-top: 0;
}
.deliverable .comments li span {
    display: block;
    text-align: right;
    font-size: 0.90em;
    color: #666666;
}
.deliverable .deliverable-status {
    display: inline-block;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 0.2em 0.5em;
    font-weight: normal;
    font-size: 0.75em;
    margin: 0 0.5em 0 0;
    color: #FFFFFF;
}
.deliverable .deliverable-status.status-2 {
    background-color: #34B138;
}
.deliverable .deliverable-status.status-0 {
    background-color: #666666;
}
.deliverable .deliverable-status.status-1 {
    background-color: #E8C147;
}
.deliverable .deliverable-status.status-3 {
    background-color: #E85242;
}

/* filters */
.filters {
    margin-bottom: 1em;
    font-size: 0.85em;
}
.filters span {
    display: inline-block;
    font-family: georgia,serif;
    font-style: italic;
}
.filters ul {
    display: inline-block;
}
.filters li {
    display: inline-block;
}
.filters .separator {
    color: #999999;
}
.filters li a {
    text-decoration: none;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    padding: 0.1em 0.5em 0.2em;
}
.filters li a:hover,
.filters li a.selected {
    color: #7D6CB5;
    text-decoration: none;
}
.filters li a.selected {
    border-bottom: 2px solid #7D6CB5;
}

/* roadmap */
.roadmap {
    display: table;
    margin: 0 auto;
}
.roadmap .quarter {
    display: table-row;
}
.roadmap .quarter > div {
    display: table-cell;
    vertical-align: middle;
}
.roadmap .quarter .quarter-label {
    text-align: center;
    font-size: 2em;
    color: #333333;
    padding: 0 30px;
    border-top: 2px dashed #666666;
}
.roadmap .quarter.first .quarter-label {
    border-top: none;
}
.roadmap .quarter .quarter-label span {
    font-weight: bold;
    display: block;
    font-size: 2em;
    color: #000000;
}
.roadmap .quarter .months {
    border-left: 2px solid #000000;
    border-right: 2px solid #000000;
}
.roadmap .quarter.first .months {
    border-top: 2px solid #000000;
}
.roadmap .quarter .months li {
    display: block;
    height: 3em;
    width: 8em;
    vertical-align: middle;
    text-align: center;
}
.roadmap .quarter .months li span {
    padding: 1em 0;
    position: relative;
    z-index: 1;
    display: none;
    color: #333333;
    text-shadow: 1px 1px 2px #EEEEEE;
}
.roadmap .quarter:hover .months li span,
.roadmap .quarter.active .months li span {
    display: block;
}
.roadmap .start-row {
    display: table-row;
}
.roadmap .start-row > div {
    display: table-cell;
}
.roadmap .start-row .start {
    background-color: #34B138;
    display: block;
    position: absolute;
    width: 8em;
    margin: 2px 2px 0 2px;
    z-index: 0;
}

.roadmap .quarter .items {
    border-top: 2px dashed #666666;
    padding: 0 30px;
}
.roadmap .quarter.first .items {
    border-top: none;
}

.roadmap .quarter .items ul {
    list-style: circle;
}
.roadmap .quarter .items li {
    margin: 0.2em 0;
    color: #666666;
}
.roadmap .quarter .items a {
    text-decoration: none;
}
.roadmap .end-row {
    display: table-row;
}
.roadmap .end-row > div {
    display: table-cell;
}
.roadmap .end-row .end {
    border-left: 2px solid #000000;
    border-right: 2px solid #000000;
    border-bottom: 2px solid #000000;
    -moz-border-radius-bottomleft: 8em;
    -moz-border-radius-bottomright: 8em;
    height: 4em;
}

/* Projects and Milestones */
.projects dt,
.milestones dt {
    font-weight: bold;
    margin: 1em 0 0.3em;
}
.projects dd,
.milestones dd {
    font-size: 0.85em;
    margin-left: 1em;
}
.mini-project {
    margin: 0.5em 1em;
}
.mini-project h4 {
    font-size: 1em;
}
.mini-project h5 {
    font-size: 0.85em;
    margin-left: 1em;
}
.mini-project .deliverable {
    margin-bottom: 0;
}
.mini-project p {
    font-size: 0.85em;
    margin: 0.3em 0 0.5em;
}


/* Account Management */
.body-account .logged-out {
    text-align: center;
    margin: 5em 0;
}
.body-account .logged-out h3 {
    font-size: 2em;
}
.body-account .logged-out h4 {
    font-size: 1.3em;
    font-weight: normal;
    margin: 1em 0;
}

/* Footer */
#global-footer {
    text-align: center;
    margin-bottom: 20px;
}