@font-face {
    font-family: GraublauWeb;
    src: url(images/GraublauWeb.otf);
}
@font-face {
    font-family: GraublauWeb;
    font-weight: bold;
    src: url(images/GraublauWebBold.otf);
}

body {
    margin: 0;
    background: #FFFFFF url(images/mozilla.png) no-repeat top left;
    font-family: GraublauWeb, helvetica;
    font-size: 13px;
}

ul#nav {
    position: absolute;
    z-index: 100;
    top: 150px;
}

ul#nav,
#nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}
#nav li a {
    display: block;
    -moz-border-radius-topright: 50px 25px;
    -moz-border-radius-bottomright: 50px 25px;
    -webkit-border-top-right-radius: 50px 25px;
    -webkit-border-bottom-right-radius: 50px 24px;
    background-color: #666666;
    width: 100px;
    height: 25px;
    margin: 10px 0;
    padding: 0 0 0 15px;
    line-height: 1.8;
    text-decoration: none;
    color: #FFFFFF;
    -moz-box-shadow: 0 0 10px #666666;
    -webkit-box-shadow: 0 0 10px #666666;
}

#nav li.present a,
#nav li a:hover {
    background-color: #AB0634;
    width: 115px;
}

#nav li.past a {
    background-color: #CCCCCC;
}

#nav li img {
    display: none;
}

h1 {
    margin: 20px 125px 0 0;
    font-size: 55px;
    padding: 0;
    text-align: right;
    text-shadow: 5px 5px 10px #666666;
}

#content-box {
    width: 85%;
    border: 1px solid #666666;
    margin: 20px auto;
    padding: 20px 70px;
    -moz-box-shadow: 0 0 20px #666666;
    -webkit-box-shadow: 0 0 20px #666666;
}
#content-box iframe {
    width: 100%;
    border: none;
    height: 100%;
}

#logo {
    position: absolute;
    bottom: 0;
    right: 0;
}