<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Milestone redirect
    # Example: /projects/1/milestones/2 -> milestone.php?project=1&milestone=2&extra=
    RewriteRule ^projects\/([^\/]+)\/milestones\/(\d+)(.*)$ milestone.php?project=$1&milestone=$2&extra=$3 [L]
    
    # Project redirect
    # Example: /projects/1 -> project.php?project=1&extra=
    RewriteRule ^projects\/([^\/]+)(.*)$ project.php?project=$1&extra=$2 [L]
    
    # Project redirect (nickname)
    # Example: /amo/milestones/2 -> projects/amo/milestones/2 -> milestone.php?project=amo&milestone=2&extra=
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^([^\/]+)\/?(.*)$ projects/$1/$2
    
</IfModule>
