body {
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    font-size: 13px;
    margin: 0;
}

ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

li {
    margin: 30px;
    clear: left;
}

#details p {
    font-size: 30px;
    text-align: center;
}

#details ul {
    margin-left: 150px;
}
#details ul li {
    font-size: 30px;
    list-style: disc;
    padding-left: 10px;
    color: #333333;
}
#details ul li strong {
    margin-left: 10px;
    color: #000000;
}

#bug-status {
    margin-top: 100px;
}

#bug-status ul li.bugcount a {
    text-decoration: none;
    color: #333333;
    font-size: 55px;
    padding: 5px;
}

#bug-status ul li.bugcount span {
    display: inline-block;
    width: 120px;
    font-size: 55px;
    padding: 5px;
    text-align: center;
    -moz-border-radius: 15px;
    color: #FFFFFF;
    margin: -5px 20px 0 0;
}
    
#bug-status ul li.open span {
    background-color: #6B2418;
}
#bug-status ul li.open strong {
    text-shadow: 3px 3px 10px #6B2418;
    color: #000000;
}
#bug-status ul li.fixed span {
    background-color: #607827;
}
#bug-status ul li.fixed strong {
    text-shadow: 3px 3px 10px #607827;
    color: #000000;
}

#status-pie {
    float: right;
    margin: -20px 90px;
}

#footer {
    margin: 70px 200px 0 0;
    clear: both;
}
#footer p {
    text-align: right;
    font-size: 15px;
    font-style: italic;
}