html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

body {
    font-family: "Lucida Grande",arial,sans-serif;
}

#header {
    padding: 10px 50px;
}

#header #breadcrumbs ul li {
    display: inline;
}

#header #logo {
    display: inline;
}

#header h1 {
    font-weight: bold;
    display: inline;
    font-size: 2.2em;
}
#header h2 {
    display: inline;
    font-size: 1.8em;
    font-weight: bold;
}

#content {
    padding: 20px;
    clear: both;
}

.deliverable-box {
    background: transparent url(../images/dots.png) center bottom no-repeat;
    clear: both;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.deliverable-box .deliverable-menu {
    float: right;
}
.deliverable-box .deliverable-menu li {
    display: inline;
}
.deliverable-box .deliverable-menu li a {
    border: 1px solid #CCCCCC;
    -moz-border-radius: 6px;
    padding: 2px 4px 2px 23px;
    margin: 0 5px;
    text-decoration: none;
    color: #CCCCCC;
}
.deliverable-box .deliverable-menu li a:hover {
    border-color: #2E5186;
    color: #2E5186;
}
.deliverable-box .deliverable-menu li a.add {
    background: transparent url(../images/add.png) 3px 50% no-repeat;
}
.deliverable-box .deliverable-menu li a.refresh {
    background: transparent url(../images/arrow_refresh.png) 3px 50% no-repeat;
}

.deliverable-box h3 {
    font-weight: bold;
    font-size: 1.3em;
}
.deliverable-box ul.categories {
    margin: 10px;
}
.deliverable-box ul.categories li {
    margin: 15px 0;
}

.deliverable-box ul.categories ul.resources,
.deliverable-box ul.categories ul.resources li {
    display: inline;
    margin: 0 5px;
}

.category-box {
    background: transparent url(../images/flag.png) right center no-repeat;
    padding-right: 13px;
}
.category {
    padding: 3px 6px;
    font-size: 0.75em;
    -moz-border-radius: 15px;
    text-transform: uppercase;
    color: white;
    font-family: arial;
    text-shadow: 1px 1px 1px #666666;
    text-decoration: none;
}

.category.spec {
    background-color: #D9A300;
}
.category.design {
    background-color: #541F9B;
}
.category.implementation {
    background-color: #861304;
}

.add-resource {
    position: absolute;
    right: 100px;
    background: transparent url(../images/pointer.gif) 86% 4px no-repeat;
    width: 550px;
}
.add-resource .content {
    margin-top: 11px;
    border: 1px solid #2E5186;
    -moz-border-radius: 6px;
    background-color: #FFFFFF;
}
.add-resource .content .type-selector {
    border-bottom: 1px solid #2E5186;
    padding: 10px 5px;
}
.add-resource .content .type-selector p,
.add-resource .content .type-selector ul,
.add-resource .content .type-selector ul li {
    display: inline;
}
.add-resource .content .type-selector ul li a {
    border: 1px solid #CCCCCC;
    -moz-border-radius: 6px;
    padding: 2px 4px 2px 23px;
    margin: 0 2px;
    text-decoration: none;
    color: #CCCCCC;
}
.add-resource .content .type-selector ul li a.bugtracker {
    background: transparent url(../images/bug.png) 3px 50% no-repeat;
}
.add-resource .content .type-selector ul li a.link {
    background: transparent url(../images/link.png) 3px 50% no-repeat;
}
.add-resource .content .type-selector ul li a.selected {
    background-color: #2E5186;
}
.add-resource .content .type-form {
    padding: 10px;
}

.add-resource .content .type-form ul,
.add-resource .content .type-form ul li {
    display: inline;
}
.add-resource .content .type-form ul li a.category {
    opacity: 0.4;
    margin: 0 2px;
}
.add-resource .content .type-form ul li a.category:hover,
.add-resource .content .type-form ul li a.category.selected {
    opacity: 1;
}

.add-resource .loading {
    padding-left: 20px;
    background: transparent url(../images/ajax_loading.gif) 0% 50% no-repeat;
}